.Board {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(0, 121, 191);
    padding: 16px;
    &__Header {
        display: flex;
        & > * + * {
            margin-left: 16px;
        }
    }
    &__Lists {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        list-style: none;
        padding: 0;

        > * + * {
            margin-left: 8px;
        }
    }
}

.Header {
    & > * + * {
        margin-left: 8px;
    }
    &__Title {
        width: 100%;
        color: white;
        padding: 0 8px;
        margin: 0
    }

    &__HomeBtn {
        text-decoration: none;
        display: flex;
        align-items: center;
        border-radius: 3px;
        background-color: hsla(0,0%,100%,.3);
        padding: 4px;
    }
}
