@import './index.scss';
.Main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px;

    &__Boards {
        display: flex;
        flex-wrap: wrap;
        padding: 8px 16px;
        & * {
            margin: 8px;
        }
    }
}

.Tile {
    height: 100px;
    width: 250px;
    background: $c-primary;
    display: flex;
    text-decoration: none;
    border-radius: 3px;
    padding: 24px 16px;
    &:hover {
        box-shadow: 2px 2px 0 rgba(9,30,66,0.35);
    }
    &__Title {
        color: #fff;
        font-size: 24px;
        font-weight: bold;
        &:visited, &:active, &:focus {
            color: #fff;
        }
    }
    &.NewBoard {
        background: #fff;
        .NewBoard__Title {
            color: $c-primary;
            font-size: 24px;
            font-weight: bold;
        &:visited, &:active, &:focus {
            color: $c-primary;
        }
        }
    }
}
